<%- include('partials/header.ejs') %>
  <body>
    <%- include('partials/navbar.ejs') %>
    <div class="container-fluid" id="grad1">
      <div class="row justify-content-center mt-0">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
          <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
            <div class="py-5 text-center">
              <h2 class="mb-3">Sign Up</h2>
              <p class="lead">Fill up your personal information and book your G Drive Test schedule from this Kiosk.</p>
            </div>
            
            <div class="row  g-5">
              <!-- First column -->
              <div class="col-md-2"></div>

              <!-- Second column -->
              <div class="col-md-8">
                <form id="msform" action="/g2_page" method="post">
                  
                  <!-- Personal Information section -->
                  <fieldset class="row g-5 p-2">
                    <div class="form-card">
                      <h4 class="mb-3">Personal Information</h4>
                      <div class="form-floating mb-3">
                        <input
                          type="text"
                          class="form-control"
                          value="<%= user?.firstName %>"
                          name="txtFirstName"
                          placeholder="First Name"
                        />
                        <label for="floatingInput">First Name</label>
                      </div>

                      <div class="form-floating mb-3">
                        <input
                          type="text"
                          class="form-control"
                          name="txtLastName"
                          value="<%= user?.lastName %>"
                          placeholder="Last Name"
                        />
                        <label for="floatingInput">Last Name</label>
                      </div>

                      <div class="form-floating mb-3">
                        <input
                          type="text"
                          class="form-control"
                          name="txtLicenseNumber"
                          value="<%= user?.licenseNumber %>"
                          placeholder="License Number"
                        />
                        <label for="floatingInput">License Number</label>
                      </div>

                      <div class="form-floating mb-3">
                        <input
                          type="number"
                          class="form-control"
                          name="txtAge"
                          value="<%= user?.age %>"
                          placeholder="Age"
                          min="16"
                          max="80"
                        />
                        <label for="floatingInput">Age</label>
                      </div>
                    </div>
                  </fieldset>
                  
                  <!-- Car Information section -->
                  <fieldset class="row g-5 p-2 mb-5">
                    <div class="form-card">
                      <h4 class="m-4">Car Information</h4>
                      <div class="form-floating mb-3">
                        <input
                          type="text"
                          class="form-control"
                          name="txtMake"
                          value="<%= user?.carDetail?.make %>"
                          placeholder="Make"
                        />
                        <label for="floatingInput">Make</label>
                      </div>

                      <div class="form-floating mb-3">
                        <input
                          type="text"
                          class="form-control"
                          name="txtModel"
                          value="<%= user?.carDetail?.model %>"
                          placeholder="Model"
                        />
                        <label for="floatingInput">Model</label>
                      </div>

                      <div class="form-floating mb-3">
                        <input
                          type="number"
                          class="form-control"
                          name="txtYear"
                          value="<%= user?.carDetail?.year %>"
                          placeholder="Year"
                        />
                        <label for="floatingInput">Year</label>
                      </div>

                      <div class="form-floating mb-3">
                        <input
                          type="text"
                          class="form-control"
                          name="txtPlateNumber"
                          value="<%= user?.carDetail?.plateNumber %>"
                          placeholder="Plate Number"
                        />
                        <label for="floatingInput">Plate Number</label>
                      </div>
                    </div>

                    <!-- Booking Schedule section -->
                    <div class="form-card">
                      <% if(user?.timeSlot?.G2Exam?.resultStatus != "") { %>

                        <h2 class="fs-title">Exam Date: <%=user?.timeSlot?.G2Exam?.slotDate %></h2>
                        <p class="m-3">Result: <b><%= user?.timeSlot?.G2Exam?.resultStatus %></b></p>
                        <p class="m-3">Comment: <b><%= user?.timeSlot?.G2Exam?.resultComment %></b></p>

                      <%} else if(user?.timeSlot?.G2Exam?.slotTime == "" || user?.timeSlot?.G2Exam?.slotTime == null) { %>
                        <h4 class="m-4">Drive Test Schedule</h4>
                        <div class="mb-3">
                          <div class="form-floating mb-3">
                            <input
                              type="date"
                              name="txtDate"
                              id="txtDate"
                              class="form-control"
                              value="<%=(new Date()).toLocaleDateString('fr-CA', { year: 'numeric', month: '2-digit', day: '2-digit' })%>"
                              required
                              pattern="\d{4}-\d{2}-\d{2}"
                            />
                            <label for="floatingPassword" style="margin: 0px 0px 0px 10px">Date</label>
                          </div>
                          <br />
                          <br />
                      <% } else{ %>
                        <h2 class="fs-title">Date</h2>
                        <div class="form-floating mb-3">
                          <h5><%=user?.timeSlot?.G2Exam?.slotDate %></h5>
                        </div>
                        <br />
                        <br />
                      <% }  %>

                      <% if(user?.timeSlot?.G2Exam?.resultStatus == "" || user?.timeSlot?.G2Exam?.resultStatus == null) { %>
                          <% if(user?.timeSlot?.G2Exam?.slotTime == "" || user?.timeSlot?.G2Exam?.slotTime == null) { %>
                            <h4 class="m-4">Availability</h4>
                            <div class="row" id="SlotsItems"></div>
                          <% } else{ %>
                            <h2 class="fs-title">Time selected</h2>
                            <input type="radio" class="btn-check" checked name="slot" id="success-outlined" autocomplete="off" disabled>
                            <label  style="width: 100px;" class="btn btn-outline-success" for="success-outlined"><%=user?.timeSlot?.G2Exam?.slotTime %></label>
                          <% }  %>
                        </div>

                        <% if(user?.timeSlot?.G2Exam?.slotTime == "" || user?.timeSlot?.G2Exam?.slotTime == null) { %>
                          <!-- Submit button section -->
                          <div class="mb-3">
                            <input type="submit" class="w-100 btn btn-lg btn-primary action-button" value="Submit"/>
                          </div>
                        <% }  %>
                    <% }  %>
                  </fieldset>

                </form>

              </div>
              <!-- Third column -->
              <div class="col-md-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>

<%- include('partials/scripts') %>
<script>
  $(function () {
    $("#txtDate").change();
  });

  $("#txtDate").on("change", async function () {
    await changeDropdownDataSet(this.value);
  });

  const changeDropdownDataSet = async (InputDate) => {
    let serverSourceLink = "/GetSlotAvailableForDriver";
    console.log(InputDate);

    let sourceOptions = '<option value="">Select ServerUrl...</option>';
    $.ajax({
      type: "POST",
      url: serverSourceLink,
      data: JSON.stringify({ InputDate: InputDate }),
      contentType: "application/json",
      dataType: "json",
      success: function (data, status) {
        var i = 1;
        $("#SlotsItems").empty();

        if (data.length == 0) {
          $("#SlotsItems").append(`
          <div class="p-3 mb-2 bg-danger text-white">
            <h3 class="card-title text-center fw-light fs-5">
              <b>For the entered date, there is no availability.</b>
            </h3>
          </div>`);
        } else {
          for (let sources of data) {
            console.log(data);

            $("#SlotsItems").append(`
            <div class="col-lg-3">
              <input type="radio" class="btn-check" value="${sources._id}" name="slot" id="success-outlined${i}" autocomplete="off">
              <label  style="width: 100px;" class="btn btn-outline-success" for="success-outlined${i}">${sources.Time}</label>
            </div>
          `);
            i++;
          }
        }
      },
      error: function (error) {
        jsonValue = jQuery.parseJSON(error.responseText);
        alert("error" + error.responseText);
      },
    });
  };
</script>